# Visual Studio / MSBuild build outputs
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]64/
*.obj
*.o
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.exp
*.idb
*.res
*.tlog
*.log
*.lastbuildstate
*.unsuccessfulbuild

# Visual Studio user/IDE files
.vs/
*.user
*.suo
*.VC.db
*.VC.opendb
*.aps
*.ncb
*.sdf
*.opensdf

# OS
Thumbs.db
desktop.ini
